---
import { Image } from 'astro:assets';
// 1. 导入图片 (替换原有的字符串路径)
import coverImg from '/src/assets/imgs/covers/EBO_cover.png';
const { id } = Astro.props; // 必须有这一行来接收 index 传过来的 id
---

<section class="aligh-center bg-grid" id={id}>
    <div
        class="path-line"
        style="top:40px; left: 20px; opacity: 20%;" >
    </div>
    <div
        class="path-line"
        style="bottom:60px; right: 40px; opacity: 20%; rotate:180deg" >
    </div>
    <div class="left">
        <img class="company-logo" src="imgs/logo/schneider_logo.svg"/>
        <div class="tags">
            <span class="font-subtext color-green uppercase round-full"
                >ECOSTRUXURE™</span
            ><span class="font-subtext color-green uppercase round-full"
                >ISOMETRIC SYSTEM</span
            ><span class="font-subtext color-green uppercase round-full"
                >BUILDING OPERATION</span
            >
        </div>
        <div class="project-info font-exbt2">
            EBO 项目<span class="color-green">.</span>
        </div>
        <div class="font-title-caption color-gy3" style="font-style: italic;">
            智能楼宇管理系统 (BMS) 2.5D 视觉重构
        </div>
        <div class="project-description font-title-caption color-gy2">
            专注于大型楼宇的暖通及动力系统监控。通过在<span
                class="color-blk text-bold">Adobe Illustrator</span
            >中搭建的一整套原子级矢量组件库，实现了无需 3D
            引擎即可交付的沉浸式数字孪生体验。
        </div>
        <div class="project-data-wrapper">
            <div class="project-data font-title2 color-green">
                Vector<span class="font-subtext color-gy2"
                    >100% 矢量资产绘制</span
                >
            </div>
            <div class="project-data font-title2 color-green">
                30+<span class="font-subtext color-gy2">复用设备组件库</span>
            </div>
        </div>
    </div>
    <div class="right">
        <Image 
                src={coverImg} 
                alt="POA-EM Interface Cover" 
                class="main-image round-16"
                widths={[600, 1920]}
            />
    </div>
    <div class="bg-text bg-text-r">EBO</div>
</section>
<style>
    /* 模拟矢量路径的线条装饰 */
    .path-line {
        position: absolute;
        width: 150px;
        height: 1px;
        background: linear-gradient(to right, var(--color-green), transparent);
    }

    .path-line::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        background: var(--color-green);
        border-radius: 50%;
        top: -3px;
        left: 0;
    }
    .left {
        flex: 0 0 calc((100% - var(--space-64)) / 12 * 5);
        min-width: 0;
        display: flex;
        flex-direction: column;
        gap: var(--space-40);
          /* 关键：告诉子元素不要拉伸，要依据自身大小对齐 */
  align-items: flex-start; /* 或者 center */
    }

    .tags {
        display: flex;
        gap: var(--space-8);
        flex-wrap: wrap;
        margin-bottom: calc(var(--space-24) * -1);
    }

    .tags > * {
        background-color: color-mix(
            in oklab,
            var(--color-green) 15%,
            transparent
        );
        /* border: 1px solid color-mix(in oklab, var(--color-green) 40%, transparent); */
        padding: var(--space-8) var(--space-12);
        font-weight: 600;
        letter-spacing: 0.125em;
    }

    .project-description {
        padding-bottom: var(--space-40);
        border-bottom: 1px solid var(--color-gy5);
    }

    .project-data-wrapper {
        display: flex;
        align-items: center;
        gap: var(--space-48);
    }

    .project-data {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: var(--space-4);
    }

    .right {
        flex: 0 0 calc((100% - var(--space-64)) / 12 * 7);
    }

    .right img {
        position: absolute;
        left: 37%;
        top: -25vh;
        width: 150vh;
        height: auto;
        /* margin-bottom: -10vw; */
        transform: rotate(-20deg);
        z-index: -1;
    }

    @media (max-width: 1024px) {
        .left {
            flex: 100%;
        }
        .right img{
            opacity: 0.4;
            filter: blur(12px);
        }
    }
</style>
